BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
